#about_div {
  border: solid var(--border-color) 1px;
  padding: 30px;
  border-radius: 15px;
  background-color: var(--background-color);
}

#about_div a {
  text-decoration: underline;
}
#about_div a:hover {
  color: rgb(67, 170, 244);
}

#about_div-title {
  padding: 0 0 15px 0;
}
img.div-member_photo {
  width: 70px;
  border-radius: 200px;
}

#about_div-participants {
  list-style: none;
}

.about_div-member {
  padding: 5px 0;
  margin-bottom: 10px;
}
