@import url(./footer.css);
@import url(./header.css);
@import url(./pages-css/home-index.css);
@import url(./pages-css/interesting-links.css);
@import url(./pages-css/tests.css);

* {
    margin: 0;
    padding: 0;
    color: var(--text-color-v1);
}

body {
    font-family: 'Netflix Sans', sans-serif;
    background-color: #111;
}

/* body::-webkit-scrollbar, body::-webkit-scrollbar-thumb {
    display: none;
} */

:root {
    /* Variáveis e cores específicas */
    --background-color: var(--black); /* Se aplica a todos os backgrounds do site */
    --text-color-v1: var(--white); /* Se aplica a todos os tipos de texto. "v1" significa "versão 1" */
    --text-color-v2: var(--cyan); /* Se aplica a todos os tipos de texto assim como o "v1", mas é uma versão alternativa */
    --border-color: var(--cyan); /* Se aplica a todas as bordas */

    /* Cores constantes */
    --white: #fff;
    --black: #000;
    --cyan: #00ffff;
}